<h1>Book Entries!</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Pages</th>
      <th colspan="3"></th>
    </tr>
  </thead> 
  
<p>
<%= link_to "Add New Entry", new_entry_path %>
</p>
<p>
<%= link_to "Add New Student", new_student_path %>
</p>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <a href="/entries/<%= entry.id %>">
        <%= entry.book_title %>
      </a>
    </li>
  <% end %>
</ul>
